<!DOCTYPE html>
<html>
<head>
  <title>IpnHandler</title>

</head>
<body>

1. http://opensoul.org/blog/archives/2006/09/16/paypal-ipn-in-rails-with-active-merchant/
2. https://gist.github.com/312785
3. http://wekeroad.com/2010/02/23/a-testable-paypal-ipn-with-rails-23
4. http://www.perfectline.ee/blog/correct-paypal-ipn-handling-with-rails

<%= yield %>

</body>
</html>
